<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt">

<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

    <!-- CSS -->
    <link media="all" rel="stylesheet" href="{{ STATIC_URL }}css/more.css" type="text/css"  />
    <link media="all" rel="stylesheet" href="{{ STATIC_URL }}css/comics_styles.css" type="text/css"  />

    <title>{% block title %}{{webcomic.name|capfirst}}{% endblock title %}</title>

    {% block head %}
    {% endblock head %}

</head>

<body>
    <div class="container">
        <div class="comics-body">
            <div>

            {% if user.is_authenticated and user.is_superuser %}
            <a href='{% url admin:index %}'>Admin</a>
            {% endif %}

            {% block more-options %} {% endblock more-options %}

            </div>

            {# these user messages are showed with javascript #}
            {% if messages %}
            <ul id="temp_messages">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if webcomic.image %}
            <div class="comic-headerImage">
                <a href="{{webcomic.link}}">
                    <img alt="Webcomic" class="comic-headerImage" src="{{ webcomic.image.url }}"></img>
                </a>
            </div>
            {% endif %}

            <div class="clear big_links">
                <a href="{% url comics-index %}">{% trans "Home" %}</a>
                {# <a href="{{webcomic.link.archive}}" title='{% trans "See all published strips in a list" %}'>{% trans "Archive"%}</a> #}

                {% if user.is_authenticated %}
                <a href="{% url auth_logout %}?next={% if webcomic %}{{webcomic.link}}{% else %}{% url comics-index %}{% endif %}">Logout</a>
                {% else %}
                <a href="{% url auth_login %}?next={{request.path}}">Login</a>
                {% endif %}
            </div>
            <hr />

            {% block body %}
            {% endblock body %}
        </div>
    </div>
</body>
</html>
