{% load i18n %}

<div class="clear strip_nav">
    
    <map name="strips_map">
        <area title='{% trans "first strip" %}' shape="rect" coords="0,0,50,50" href="{{webcomic.first_strip.link}}"  />
        {% if strip.prev_strip %}
            <area title='{% trans "previous strip" %}' shape="rect" coords="55,0,90,50" href="{{strip.prev_strip.link}}"  />
        {% endif %}
        {#<area shape="rect" coords="95,0,140,50" href="?strip=random"  />#}
        {% if strip.next_strip %}
            <area title='{% trans "next strip" %}' shape="rect" coords="145,0,180,50" href="{{strip.next_strip.link}}"  />
        {% endif %}
        <area title='{% trans "current strip" %}' shape="rect" coords="185,0,230,50" href="{{webcomic.current_strip.link}}"  />
    </map>

    <img usemap="#strips_map" src="{{MEDIA_URL}}images/comics/nav.png" alt="" />
</div>